:root {
  --primary-color: hsl(200, 10%, 15%);
  --background-color: hsl(0, 0%, 96%);
}

*,
:before,
:after {
  box-sizing: border-box;
}

header,
footer,
main {
  border: 1px solid red;
}

body {
  margin: 0;
  display: block;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.layout {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  gap: 8px;
  height: 100vh;
}

main {
  max-width: 800px;
}
